*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 300px;
    border-radius: 15px;
    padding: 20px;
    gap: 15px;
}

.input-div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#button-guardar{
    margin: 5px;
}

.lista-hijo{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 5px;
}